/NetBeansProjects/ADPAF/LinkedListTypesExercise/nbproject/private/
/NetBeansProjects/ADPAF/LinkedListTypesExercise/build/
/NetBeansProjects/ADPAF/InClassActivity1/nbproject/private/
/NetBeansProjects/ADPAF/InClassActivity1/build/
/NetBeansProjects/ADPAF/InClassStack/nbproject/private/
/NetBeansProjects/ADPAF/InClassStack/build/
/NetBeansProjects/ADPAF/InClassStackLinkedList/nbproject/private/
/NetBeansProjects/ADPAF/InClassStackLinkedList/build/
/NetBeansProjects/ADPAF/InClassQueues/nbproject/private/
/NetBeansProjects/ADPAF/InClassQueues/build/
/NetBeansProjects/ADPAF/ArrayQueues/nbproject/private/
/NetBeansProjects/ADPAF/inClassPriorityQueue/nbproject/private/
